<h1>Simple blog!</h1>
<ul class="nav nav-pills">
  <li role="presentation" class="active"><%= link_to 'My Blog', controller: 'articles' %></li>
  <li role="presentation"><%= link_to 'New article', new_article_path %></li>
</ul>
